
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background: linear-gradient(to right, #8ecae6, #219ebc);
    color: white;
}

.hero {
    padding: 50px 20px;
}

.hero h1 {
    font-size: 32px;
    font-weight: bold;
}

.hero p {
    font-size: 18px;
    margin-top: 10px;
}


img {
    border-radius: 5%;
    height: 200px;
    width: 400px;
    border: 2px solid #7cbfe8;
  }


.benefits {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 40px;
}

.benefit {
    background: white;
    color: #333;
    padding: 20px;
    width: 30%;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.benefit h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

.benefit p {
    font-size: 14px;
}

.icon {
    font-size: 30px;
    margin-top: 10px;
}


.cta {
    padding: 40px;
}

.cta-button {
    background: #ff6600;
    color: white;
    padding: 12px 24px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.cta-button:hover {
    background: #e65c00;
}

.cta-text {
    font-size: 14px;
    margin-top: 10px;
}

/* Footer */
footer {
    background: #111;
    color: white;
    padding: 10px;
    margin-top: 30px;
}
